<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-user-database" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>UserDatabasePlugin</name><js-module name="UserDatabasePlugin" src="www/UserDatabasePlugin.js"><clobbers target="cordova.plugins.UserDatabasePlugin" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="UserDatabasePlugin"><param name="android-package" value="cordova-plugin-user-database.UserDatabasePlugin" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/UserDatabasePlugin.java" target-dir="src/cordova-plugin-user-database/UserDatabasePlugin" /></platform></plugin>